@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


 <section class="about-us-wrapper">
      <div class="about-us-img">
        <img
          class="headphones-image"
          src="static\about_company.png"
          alt="Picture of team member Mark"
        />
      </div>

      <div class="about-us-description">
        <span class="about-us-category">About Company</span>
        <h2 class="about-us-h2">
          We Are Business Consultants & Credit Repair Experts
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab,
          officiis? Ex nihil veniam aperiam, deleniti fugit magnam a molestiae.
          Officiis voluptas hic rerum at. Velit eius nemo error ea voluptatum
          non autem, quis esse voluptates ipsa eligendi facere porro nostrum,
          animi ratione nesciunt, maiores mollitia debitis sequi provident?
          Accusantium aliquam dicta est sed eius ipsa unde ipsam ratione
          <br />
          <br />
          possimus. Vitae facere vel nemo eveniet. Est sapiente, quos nostrum
          repudiandae qui, molestias tenetur similique ipsa nulla adipisci quam,
          animi corporis iure numquam. Enim nam incidunt quo minima eum at
          reiciendis, provident eius repudiandae quidem ipsum ducimus,
          architecto molestias tempora nostrum vero. Lorem ipsum dolor sit amet.
        </p>
        <a class="about-us-link">Learn More</a>
      </div>
    </section>