@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


 <section class="blog-section">
      <span class="blog-category">Article & News</span>
      <div class="blog-heading-link-wrapper">
        <h2>Get Every Single Articles & News</h2>
        <a class="blog-link">Browse Articles</a>
      </div>

      <div class="blog-wrapper">
         <div class="news">
        <div class="news-publish-date-wrapper">
          <div class="news-publish-date-day">25</div>
          <div class="news-publish-date-month">Mar</div>
        </div>
        <img
          class="headphones-image"
          src="images\apple_has_released.png"
          alt="Picture of team member Mark"
        />
        <span class="news-category">Business</span>
        <h3 class="news-h3">How to Use Digitalization In The Classroom</h3>
        <p class="news-p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum unde
          velit quos suscipit impedit at.
        </p>
      </div>

      <div class="news">
        <div class="news-publish-date-wrapper">
          <div class="news-publish-date-day">25</div>
          <div class="news-publish-date-month">Mar</div>
        </div>
        <img
          class="headphones-image"
          src="images\get_more_involved_with.png"
          alt="Picture of team member Mark"
        />
        <span class="news-category">Business</span>
        <h3 class="news-h3">How To Implement Chat GPT In Your Projects</h3>
        <p class="news-p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis alias
          eligendi molestias pariatur autem obcaecati!
        </p>
      </div>

      <div class="news">
        <div class="news-publish-date-wrapper">
          <div class="news-publish-date-day">25</div>
          <div class="news-publish-date-month">Mar</div>
        </div>
        <img
          class="headphones-image"
          src="images\guided_tour.png"
          alt="Picture of team member Mark"
        />
        <span class="news-category">Business</span>
        <h3 class="news-h3">The Guide To Support Modern CSS Design</h3>
        <p class="news-p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
          repellendus sequi voluptatem facilis et fugiat?
        </p>
      </div>

      </div>
    </section>