@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="features-wrapper">
      <div class="features-headings">
        <span class="category">Features</span>
        <h2 class="feature-h2">
          Our Accounting is trusted by thousands of companies
        </h2>
        <a class="features-link">Learn More</a>
      </div>

      <div class="features-container">
        <div class="features">
          <h3>Business Advice</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Asperiores, dolor?
          </p>
        </div>

        <div class="features">
          <h3>Startup Business</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
            numquam?
          </p>
        </div>

        <div class="features">
          <h3>Financial Advice</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit,
            fugit!
          </p>
        </div>

        <div class="features">
          <h3>Risk Management</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius,
            velit!
          </p>
        </div>
      </div>
    </section>