@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

 <footer>
        <div class="footer">
           
          <div class="footer-paragraph">
            <a class="footer-logo" href="/"><img
                src="\static\crito_logo.png"
                alt="Crito logotype"
              /></a>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
              aspernatur, quod pariatur magnam aliquid rerum omnis corrupti vel
              accusantium quidem at inventore, iure nam beatae quo saepe
              repudiandae sequi nobis unde placeat error assumenda nisi.
            </p>
          </div>
         
          <section class="footer-lists-section">
          <div class="footer-list-wrapper">
            <h5 class="footer-heading">Company</h5>
             <a class="footer-list-item">About</a>
             <a class="footer-list-item">Features</a>
             <a class="footer-list-item">Works</a>
             <a class="footer-list-item">Career</a>
          </div>
    
          <div class="footer-list-wrapper">
            <h5 class="footer-heading">Help</h5>
            
              <a class="footer-list-item">Customer Support</a>
              <a class="footer-list-item">Delivery Details</a>
              <a class="footer-list-item">Terms & Conditions</a>
              <a class="footer-list-item">Privacy Policy</a>
            
          </div>
    
          <div class="footer-list-wrapper">
            <h5 class="footer-heading">Resources</h5>
            
              <a class="footer-list-item">Free eBooks</a>
              <a class="footer-list-item">Development Tutorial</a>
              <a class="footer-list-item">How to - Blog</a>
              <a class="footer-list-item">Youtube Playlist</a>
            
          </div>
    
          <div class="footer-list-wrapper">
            <h5 class="footer-heading">Link</h5>
             <a  class="footer-list-item">Free eBooks</a>
             <a  class="footer-list-item">Development Tutorial</a>
             <a  class="footer-list-item">How to - Blog</a>
              <a class="footer-list-item">Youtube Playlist</a>
          </section>
         
      
            </div>
       
       
        
    </footer>