@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="brands-section">
    
    @{
        var logoImages = Model.Value<IEnumerable<MediaWithCrops>>("logoImages");
        
        foreach(var entry in logoImages) 
        {
            <img src="@entry.MediaUrl()" alt="" />
        }
    }
     
    </section>