@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section>
    
     <div class="newsletter-wrapper">
      <div>
        <h3 class="newsletter-heading">Get News Updates By Signup</h3>
      </div>

      <div class="input-button-wrapper">
        <label></label>
        <input class="input" placeholder="username@domain.com" />
        <button class="button">Subscribe</button>
      </div>
    </div>
    
</section>