@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="services-section">
      <span class="our-services-category">Our Services</span>
      <h2 class="our-services-h2">
        We Provide the Best Service For Consulting
      </h2>
      <div class="our-services-wrapper">
        <div class="service-we-provide">
          <h3 class="service-h3">Business Advice</h3>
          <p class="service-p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque,
            est consequatur?
          </p>
        </div>

        <div class="service-we-provide">
          <h3 class="service-h3">Startup Business</h3>
          <p class="service-p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
            quasi ad.
          </p>
        </div>

        <div class="service-we-provide">
          <h3 class="service-h3">Financial Advice</h3>
          <p class="service-p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
            placeat quos.
          </p>
        </div>

        <div class="service-we-provide">
          <h3 class="service-h3">Risk Management</h3>
          <p class="service-p">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, dicta
            aut.
          </p>
        </div>
      </div>
      <div class="our-service-link-wrapper">
        <a class="our-service-link">Browse Services</a>
      </div>
    </section>