@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="projects-section">
      <div class="topic-center">
        <span>Project & Case Studies</span>
      </div>

      <h2 class="heading-center">Let's Look at Our Global Projects</h2>

      <div class="projects-container">
        <div class="projects-wrapper">
          <div class="project">
            <img
              src="static\business_insights.png"
              alt="Picture of one of our projects"
            />
            <h3 class="project-title">Grow your business</h3>
            <div class="link-wrapper">
              <a class="project-link">Read More</a>
            </div>
          </div>

          <div class="project">
            <img
              src="static\educate_your_employees.png"
              alt="Picture of one of our projects"
            />
            <h3 class="project-title">
              Why your client needs a responsive website
            </h3>
            <div class="link-wrapper">
              <a class="project-link">Read More</a>
            </div>
          </div>

          <div class="project">
            <img
              src="static\grow_your_business.png"
              alt="Picture of one of our projects"
            />
            <h3 class="project-title">
              Educate your employees to get better results
            </h3>
            <div class="link-wrapper">
              <a class="project-link">Read More</a>
            </div>
          </div>

          <div class="project">
            <img
              src="static\apple_has_released.png"
              alt="Picture of one of our projects"
            />
            <h3 class="project-title">
              Business insights is an important part of your business
            </h3>
            <div class="link-wrapper">
              <a class="project-link">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="see-all-projects-wrapper">
        <a class="see-all-projects-link">All Recent Projects</a>
      </div>
    </section>