@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="team-section">
    <div class="container-team">
    <span class="team-category">Meet Our Team</span>
    <div class="team-heading-link-wrapper">
      <h2>Experience Team Members</h2>
      <a class="team-link">Browse Team</a>

    </div>
    
    <div class="team-wrapper">  
        
           <div class="team-member-img">
            <img
              src="static\kristine_palmer.png"
              alt="Picture of team member Kristine"
            />
              <div class="team-member-info">
                <h3>Kristine Palmer</h3>
                <span>Chief Operation Officer</span>
              </div>
           </div>
            
           <div class="team-member-img">
            <img
            src="static\kimberly_hansen.png"
            alt="Picture of team member Kimberly"
          />
            <div class="team-member-info">
              <h3>Kimberly Hansen</h3>
              <span>Senior Consultant</span>
            </div>
          </div>
          
            
             <div class="team-member-img">
              <img
              src="static\mark_aubri.png"
              alt="Picture of team member Mark"
            />
                <div class="team-member-info">
                  <h3>Mark Aubri</h3>
                  <span>Senior Consultant</span>
              </div>
             </div>

             <div class="team-member-img">
              <img
                src="static\justin_willoman.png"
                alt="Picture of team member Justin"
              />
                <div class="team-member-info">
                  <h3>Justin Willoman</h3>
                  <span>Senior Tech Consultant</span>
              </div>
            </div>

        </div>


            </div>
              <div class="review-wrapper">
                
              <div class="review">
                <span class="team-category">Testimonial</span>
                <h3>What Our Clients Say</h3>
               
                <div class="client-testimonial-wrapper">
                <div class="client-testimonial">
                  <div class="review-stars-wrapper">
                    <span ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                  </div>
                 
                  <p class="review-p">"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non possimus, a excepturi laborum mollitia distinctio fuga consequatur assumenda maiores?"</p>
                  <div class="author-review">
                  
                    <img
                    class="review-image"
                    src="static\vince-veras-AJIqZreview1DAUD7A-unsplash.jpg"
                    alt="Picture of reviewer"
                  />
                      <div class="client-info-review">
                        <h4 class="author-name">Cassandra Warren</h4>
                        <span class="author-position">Business Manager, Dorfus</span>
                    </div>
                  </div>
                
                </div>
                <div class="client-testimonial">
                  <div class="review-stars-wrapper">
                    <span ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                  </div>
                  <p class="review-p">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis doloremque quos ut vitae architecto aliquam exercitationem, quaerat modi eos alias".</p>
                  <div class="author-review">
                    <img
                  class="review-image"
                  src="static\christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg"
                  alt="Picture of reviewer"
                />
                      <div class="client-info-review">
                        <h4 class="author-name">Amanda Tulling</h4>
                        <span class="author-position">Senior Developer, Square</span>
                    </div>
                  </div>
                  
                </div>
                <div class="client-testimonial">
                  <div class="review-stars-wrapper">
                    <span ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                  </div>
                  <p class="review-p">"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis saepe debitis recusandae incidunt commodi cupiditate itaque culpa placeat, facilis sit."</p>
                  <div class="author-review">
                    <img
                  class="review-image"
                  src="static\joseph-gonzalez-iFgRcqHznqg-unsplash.jpg"
                  alt="Picture of reviewer"
                />
                <div class="client-info-review">
                <h4 class="author-name">Jack McDogglas</h4>
                <span class="author-position">Key Account Manager, Gobona</span>
              </div>
                  </div>
                  
                </div>
              </div>
              </div>

        </div>
     
      </a>
    </div>
  </div>
</section>