@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

 <section class="why-choose-us-section">
      <div class="why-choose-us-left-wrapper">
         <span class="why-choose-us-category">Why Choose Us</span>
        <h3 class="why-choose-us-heading">
          Why We Are the Best Business Consulting Agency
        </h3>
        <div class="why-choose-us-list">
          <h4 class="why-choose-us-h4">Process Excellence</h4>
          <p class="why-choose-us-p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>

          <h4 class="why-choose-us-h4">Strategic Planning</h4>
          <p class="why-choose-us-p">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>

          <h4 class="why-choose-us-h4">Experience Design</h4>
          <p class="why-choose-us-p">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>

          <h4 class="why-choose-us-h4">Artificial Intelligence</h4>
          <p class="why-choose-us-p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>

      <div class="why-choose-us-wrapper">
        <div class="why-choose-us-img-wrapper">
          <img
            class="why-choose-us-img"
            src="static\why_choose_us.png"
            alt="Picture of two employees"
          />
        </div>
      </div>
      
    </section>