@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.News>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "LayoutWithBreadcrumb.cshtml";
}

 <section class="news-section-wrapper">
      <div class="news-section-heading-wrapper">
        <h2>Our News & Articles</h2>
      </div>
    
    <div class="news-section">
      
      <div class="news">
        <div class="news-publish-date-wrapper">
          <div class="news-publish-date-day">25</div>
          <div class="news-publish-date-month">Mar</div>
        </div>
        <img
          class="headphones-image"
          src="images\apple_has_released.png"
          alt="Article image"
        />
        <span class="news-category">Business</span>
        <h3 class="news-h3">How to Use Digitalization In The Classroom</h3>
        <p class="news-p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum unde
          velit quos suscipit impedit at.
        </p>
      </div>

      <div class="news">
        <div class="news-publish-date-wrapper">
          <div class="news-publish-date-day">25</div>
          <div class="news-publish-date-month">Mar</div>
        </div>
        <img
          class="headphones-image"
          src="images\get_more_involved_with.png"
          alt="Article image"
        />
        <span class="news-category">Business</span>
        <h3 class="news-h3">How To Implement Chat GPT In Your Projects</h3>
        <p class="news-p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis alias
          eligendi molestias pariatur autem obcaecati!
        </p>
      </div>

      <div class="news">
        <div class="news-publish-date-wrapper">
          <div class="news-publish-date-day">25</div>
          <div class="news-publish-date-month">Mar</div>
        </div>
        <img
          class="headphones-image"
          src="images\guided_tour.png"
          alt="Article image"
        />
        <span class="news-category">Business</span>
        <h3 class="news-h3">The Guide To Support Modern CSS Design</h3>
        <p class="news-p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
          repellendus sequi voluptatem facilis et fugiat?
        </p>
      </div>

      <div class="news">
        <div class="news-publish-date-wrapper">
          <div class="news-publish-date-day">25</div>
          <div class="news-publish-date-month">Mar</div>
        </div>
        <img
          class="headphones-image"
          src="images\how_to_improve_teams.png"
          alt="Article image"
        />
        <span class="news-category">Business</span>
        <h3 class="news-h3">Why You Need To Implement The Five S's</h3>
        <p class="news-p">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores quis
          optio eum dolor excepturi velit!
        </p>
      </div>

      <div class="news">
        <div class="news-publish-date-wrapper">
          <div class="news-publish-date-day">25</div>
          <div class="news-publish-date-month">Mar</div>
        </div>
        <img
          class="headphones-image"
          src="images\how_to_use_digitalization.png"
          alt="Article image"
        />
        <span class="news-category">Business</span>
        <h3 class="news-h3">Get More Involved With Your End Users</h3>
        <p class="news-p">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
          soluta officia eius laborum, dolorem amet!
        </p>
      </div>

      <div class="news">
        <div class="news-publish-date-wrapper">
          <div class="news-publish-date-day">25</div>
          <div class="news-publish-date-month">Mar</div>
        </div>
        <img
          class="headphones-image"
          src="images\implement_chatgpt.png"
          alt="Article image"
        />
        <span class="news-category">Business</span>
        <h3 class="news-h3">Guided Tour Of Our New Head Office In Stockholm</h3>
        <p class="news-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsum
          repellendus enim atque dolores distinctio!
        </p>
      </div>

      <div class="news">
        <div class="news-publish-date-wrapper">
          <div class="news-publish-date-day">25</div>
          <div class="news-publish-date-month">Mar</div>
        </div>
        <img
          class="headphones-image"
          src="images\the_guide_to_support.png"
          alt="Article image"
        />
        <span class="news-category">Business</span>
        <h3 class="news-h3">
          Using Business Intelligence To Get Insights About Our Businesses
        </h3>
        <p class="news-p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam esse
          maiores numquam laudantium ipsum ipsa.
        </p>
      </div>

      <div class="news">
        <div class="news-publish-date-wrapper">
          <div class="news-publish-date-day">25</div>
          <div class="news-publish-date-month">Mar</div>
        </div>
        <img
          class="headphones-image"
          src="images\using_business_intelligence.png"
          alt="Article image"
        />
        <span class="news-category">Business</span>
        <h3 class="news-h3">Apple Has Released New Products. Are They Any Good?</h3>
        <p class="news-p">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo quis,
          architecto non aliquam iste ullam.
        </p>
      </div>

      <div class="news">
        <div class="news-publish-date-wrapper">
          <div class="news-publish-date-day">25</div>
          <div class="news-publish-date-month">Mar</div>
        </div>
        <img
          class="headphones-image"
          src="images\why_you_need_five.png"
          alt="Article image"
        />
        <span class="news-category">Business</span>
        <h3 class="news-h3">How To Improve Your Teams And Get A Better Result</h3>
        <p class="news-p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At vel vero
          labore ipsam reprehenderit beatae.
        </p>
      </div>
    </div>
  </section>